@{
    ViewBag.Title = "Find User";
}
<div class="myProject">
    <div class="keyDivPosition">
        <div class="form-inline">
            <input id="txtKey" type="text" class="form-control" placeholder="Enter key" />
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary chkLock">
                    Lock
                    <input id="chkLock" type="checkbox" autocomplete="off">
                    <span class="glyphicon glyphicon-lock"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="form-inline">
            <input id="txtEmail" type="text" class="form-control" placeholder="example@domain.com" />
            <button type="button" id="btnSubmit" class="btn btn-primary"><spam class="fa fa-search"></spam></button>
        </div>
    </div>
    <div class="container col-md-12">
        <div class="resultHolder col-md-4">
            <img src="~/Img/Male.jpg" style="width:100%" alt="User Image">
        </div>
        <div class="jobResultHolder col-md-8"></div>
    </div>
</div>