@{
    ViewBag.Title = "Find User";
}
<div class="myProject">
    <div class="keyDivPosition">
        <img src="~/Img/globe-search.png" class="pull-left headIcon" alt="Head Icon">
        <div class="input-group">
            <input id="txtKey" type="text" class="form-control" placeholder="Enter key" />
            <div class="input-group-btn" data-toggle="buttons">
                <label class="btn btn-primary chkLock">
                    Lock
                    <input id="chkLock" type="checkbox" autocomplete="off">
                    <span class="glyphicon glyphicon-lock"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="well well-lg">
        <div class="input-group">
            <input id="txtEmail" type="text" class="form-control pull-right" placeholder="example@domain.com" />
            <span class="input-group-btn">
                <button type="button" id="btnSubmit" class="btn btn-primary"><span class="fa fa-search"></span></button>
            </span>
        </div>
    </div>
    <div class="container col-md-12">
        <div class="resultHolder col-md-4">
            <div class="mainContainer">
                <div class="imgHolder">
                    <img src="~/Img/Male.jpg" style="width:100%" alt="User Image">
                </div>
                <div class="nameContainer"></div>
                <div class="socContainer"></div>
            </div>
            <div class="contentHolder"></div>
        </div>
        <div class="jobResultHolder col-md-8">
            <h2 class="w3-text-grey w3-padding-16">
                <i class="fa fa-suitcase fa-2x socMarginR text-icon"></i>Work Experience
            </h2>
            <hr />
            <div class="jobListHolder"></div>
        </div>
    </div>
</div>