body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

.myProject .imgCount {
    position: relative;
    left: 190px;
    width: 130px;
} 

.myProject .socMarginR {
    margin-right: 10px;
}

.myProject .socMarginT {
    margin-top: 10px;
}

.myProject .fullName {
    color: #19466d;
}

.myProject .mainContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15px;
    text-align: center;
}

.myProject .nameContainer {
    padding: 10px;
}

.myProject .btn span.glyphicon {
    opacity: 0;
}

.myProject .btn.active span.glyphicon-lock {
    opacity: 1;
}

.myProject .keyDivPosition {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right
}
