body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.myProject .socMarginR {
    margin-right: 10px;
}

.myProject .fullName {
    color: #19466d;
}

.myProject .mainContainer {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15px;
    text-align: center;
}

.myProject .nameContainer {
    padding: 10px;
}

.myProject .btn span.glyphicon {
    opacity: 0;
}

.myProject .btn.active span.glyphicon-lock {
    opacity: 1;
}

.myProject .keyDivPosition {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right
}